<!DOCTYPE html>

<html>
    
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}} <!-- This is how partials are loaded -->
            <img class="portrait" src="/img/Me.jpeg" alt="Profile picture">
        </div>
        
        {{>footer}}
    </body>

</html>